.main-banner {
  background-color: white;

  .banner-contenedor-paradax {
    width: 100%;
    height: calc(100vh - 73px);
    background: url("../../../public/images/paradax.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 73.7% 25px;
    position: relative;
    display: flex;

    .container {
      z-index: 10;
      display: flex;
      align-items: flex-end;
    }

    .descripcion-paradax {
      z-index: 10;

      &-h2 {
        .titulo {
          display: flex;
          font-weight: normal;
          margin: 0;
          color: $colorMenu;
          font-size: 35px;
          line-height: 40px;
          font-family: "Knewave", cursive;
          text-shadow: 3px 4px 2px #181818;

          p {
            margin: 0;
          }

          &--interes {
            font-weight: normal;
            color: #7700ff;
            text-shadow: 3px 4px 2px #181818;
          }
        }
      }

      &-parrafo {
        margin: 1rem 0;
        color: black;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.2rem;
      }

      &-accion {
        display: flex;
        gap: 0.8rem;
      }
    }
  }

  .banner-contenedor-paradax::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100vh - 73px);
    background-image: linear-gradient(to bottom, #ffffff4d, #a7d3ff4d);
    z-index: 5;
  }
}

.titulo-h2 {
  color: white;
  text-align: center;
}
