.main-banner {
    background-color: white;

    .banner-contenedor-paradax {
        width: 100%;
        height: 600px;
        background: url("../../../public/images/paradax.jpg") no-repeat center;
        background-attachment: fixed;
        position: relative;
        display: flex;
        align-items: center;

        .descripcion-paradax {
            z-index: 10;
            height: 260px;
            margin-left: 18%;

            &-h2 {
                .titulo {
                    font-weight: normal;
                    margin: 0; 
                    color: $colorMenu;
                    font-size: 50px;
                    font-family: "Knewave", cursive;
                    text-shadow: 6px 6px 3px #000000;

                    .interes {
                        font-weight: normal;
                        font-size: 50px;
                        color: #00f57a;
                        text-shadow: 6px 6px 3px #000000;
                    }
                }
            }

            &-parrafo {
                margin: 25px 0;
                color: black;
                font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                font-weight: bold;
                font-size: 19px;
                text-shadow: 5px 4px 4px #ffffff;
            }

            &-accion {
                margin-top: 35px;

                .boton {
                    text-decoration: none;
                    padding: 15px 20px;
                    border-radius: 10px;
                    margin: 0 5px;
                    font-weight: bold;
                    box-shadow: 5px 5px 10px black;
                    font-weight: bold;
                    &:hover {
                        cursor: pointer;
                    }
                }

                .link1 {
                    box-sizing: border-box;
                    background-color: white;
                    color: $colorMenu;
                    transition: all 1s;
                    border: solid 3px white;

                    &:hover {
                        color: black;
                        border: solid 3px black;
                    }
                }

                .link2 {
                    background-color: $colorMenu;
                    color: white;
                    transition: all 1s;
                    border: solid 3px $colorMenu;

                    &:hover {
                        background-color: black;
                        border: solid 3px black;
                    }
                }
            }
        }
    }

    .banner-contenedor-paradax::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 600px;
        background-image: linear-gradient(to bottom, #ffffff4d, #0080ff4d);
        z-index: 5;
    }
}

.titulo-h2 {
    color: white;
    text-align: center;
}
