// LAYOUT
.secction-aboutMy {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  // background: linear-gradient(to right, #e9f4ff 40%, white 50%);
}

.secction-experiencia {
  padding: 3rem 0;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255),
    rgba(167, 211, 255)
  );
}

.secction-skills{
  padding: 3rem 0;
}

// *************************************************

// CARD
.card-wrapper {
  max-width: 700px;
  margin: auto;
  position: relative;
}

.card-main {
  background-color: $white;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: transparent;

  &__data {
    padding: 0 1.5rem;
    overflow: hidden;
    width: 100%;
    background-color: white;
    border-radius: 8px;

    box-shadow: 0px 0px 10px 0px rgba(133, 133, 133, 0.7);

    // border-right: solid #e6e6e6;

    display: flex;
    flex-direction: column;

    &-footer {
      border-top: solid rgb(226, 226, 226);
      background-color: $white;
      width: 100%;
      padding: 0.8rem 1rem;
    }
  }

  &__description {
    width: 100%;
    padding: 0 1.5rem;
    color: $white;
    display: flex;
    flex-direction: column;
    // border: solid 1px blue;
  }
}

@media screen and (min-width: 700px) {
  .card-main {
    flex-direction: row;

    &__data {
      width: 40%;
      &-footer {
      }
    }

    &__description {
      width: 60%;
    }
  }
}

.profile {
  padding: 1.5rem 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px rgba(133, 133, 133, 0.7);
  }
}

.text {
  position: relative;
  &--title {
    font-size: 3rem;
    font-weight: 700;
  }

  &--name {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &--work {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
  }

  &--parraf {
  }
}

// *************************
// ESTILOS LINEA DE TIEMPO
.my-card {
  box-shadow: 0px 0px 10px 2px rgba(133, 133, 133, 0.7);
}

.my-title {
}




.timeline-main-wrapper {
  & > div {
    padding: 0 !important;
  }
  
  & .cXMFPL.active{
    background-color: #0080ff !important;
  }

  .dglvSm {
    font-weight: bold !important;
  }
}
