.footer {
  background-image: linear-gradient(to top, $colorMenu, $black);
  box-shadow: 5px -5px 8px #000000;
  width: 100%;
  // height: 400px;s
  padding: 20px 0;
  color: white;
  // border-top: solid 1px white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__content-Gen {
  // border: solid 2px red;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.footer__content-Ind {
  // border: solid 2px lime;
  width: 25%;
  // height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 30px;
}
.footer__titulo {
  margin-bottom: 20px;
  &-h4 {
    display: table;
    font-size: 20px;
    margin: 0px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px white;
  }
}
.footer__parrafo {
  text-align: justify;
}

.footer__body {
  // border: solid 2px red;
  width: 100%;
}
.footer__content-items {
  padding: 0;
  // background-color: maroon;
}
.footer__item {
  margin: 10px 0px;
  list-style: none;
  display: flex;
  align-items: center;
}

.footer__boton {
  font-size: 14px;
  font-weight: bold;
  margin: 0 5px;
  background-color: white;
  box-shadow: 0px 3px 10px white;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s;

  &:hover {
    color: #00ff80;
    box-shadow: 0px 3px 10px black;
    background-color: black;
  }
}

.footer__autor {
}
.footer__autor-text {
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
}

// ICONS
.icons {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;

  .icon {
    display: contents;
    cursor: pointer;
    font-size: 1.3rem;
    transition: all 0.5s;

    &:hover {
      color: $colorMenu;
    }
  }
}

.icon-apuntar {
    font-size: 20px;
    margin: 0 10px;
    color: #00ff80;
    background-color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0px);
    transition: all 0.6s;
    &:hover{
        transform: translateX(8px);
        cursor: pointer;
    }
}