@media (prefers-reduced-motion: no-preference) {
  .rotar {
    animation: rotar-spin infinite 20s linear;
  }
}

@keyframes rotar-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-image: linear-gradient(to bottom, $colorMenu, $black);
  width: 100%;
  padding: 10px 0;
  border-bottom: SOLID 2px #0080ff;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    display: none;
    gap: 0.8rem;
  }

  &__navbar {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
}

.perfil {
  width: $sizeFhotoWhidth;
  height: $sizeFhotoHeight;
  border-radius: 5%;
  box-shadow: 0px 0px 7px 2px #ffffff;
  z-index: 20;

  &--logoFis,
  &--foto {
    display: none;
  }
}
