.navbar {
  flex: 1;

  &__items {
    gap: 0.3rem;
    margin-top: 0.7rem;
  }

  &__titulo {
    display: flex;
    font-weight: normal;
    align-items: center;
    gap: 0.7rem;

    &-text {
      color: white;
      text-decoration: none;
      font-size: 1.6rem;
      font-family: "Knewave", cursive;
      text-shadow: 5px 5px 8px #000000;
      transform: scale(1);
      transition: all 1s;

      &:hover {
        transform: scale(1.05);
        font-style: normal;
        cursor: default;
      }
    }

    &-img {
      height: 35px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: white;

    padding: 0.3rem 0.5rem;
    cursor: pointer;
    transition: all 0.5s;
    border-bottom: solid 3px transparent;

    &--active {
      border-bottom: solid 3px $colorMenu;
    }

    &:hover {
      opacity: 1;
    }
  }

  &-brand {
    padding: 0;
    margin: 0;
  }

  &-toggler {
    border: none;
    padding: 0;

    &-icon {
      background-image: url("../../../public/images/menu-custom.png");
    }

    &:focus {
      box-shadow: none;
    }
  }
}