// entre 0  y 700
@media screen and (min-width: 700px) {
  .header {
    border-bottom: 0;
    padding: 1rem 0;

    &__container {
    }

    &__image {
      display: flex;
    }

    &__navbar {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      
      .header__titulo {
        display: flex;

        &-h1 {
          font-size: 55px;

          &:hover {
          }
        }

        &-img {
          height: 65px;
        }
      }
    }
  }

  .perfil {
    width: $sizeFhotoWhidth;
    height: $sizeFhotoHeight;
    border-radius: 5%;
    box-shadow: 0px 0px 7px 2px #ffffff;
    z-index: 20;

    &--logoFis {
      background: url("../../../../public/images/fis.png") no-repeat center;
    }

    &--foto {
      background: url("../../../../public/images/foto3.jpg") no-repeat left;
    }

    &--logoFis,
    &--foto {
      display: block;
      width: 100px;
      height: 100px;
      background-size: cover;
      transition: all 1.3s;
    }
  }
}
