// entre 0  y 700
@media screen and (max-width: 460px) {
  .footer__content-Ind {
    width: 98% !important;
  }
}
@media screen and (max-width: 700px) {
  .footer {
    .footer__content-Gen {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .footer__content-Ind {
      width: 49%;
      .footer__titulo {
        display: flex;
        justify-content: center;
      }
   
    }
  }
}
// entre 701 y 849
@media screen and (min-width: 701px) and (max-width: 849px) {
  .footer {
    .footer__content-Gen {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .footer__content-Ind {
      width: 45%;
    }
  }
}

// entre 850 y 1024
@media screen and (min-width: 850px) and (max-width: 1024px) {
}
//  mayo a 1025
@media screen and (min-width: 1025px) {
}
