// entre 0  y 700
@media screen and (max-width: 700px) {
  .header__titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    .rotar {
      display: none;
    }
  }
  .header__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__contenedor-navbar {
    display: none;
    .navbar__contenedor-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .header__contenedor-logo {
    display: none; // logo fis
  }
  .header__titulo-h1 {
    text-align: center;
    font-size: 45px !important;
  }
  .header__contenedor-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .perfil__redesSociales {
      margin-top: 20px;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  .navbar__contenedor-menu {
    z-index: 20;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: $colorMenu;
    border-radius: 10px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 6px white;
    align-items: center;
    position: absolute;
    position: fixed;
    bottom: 0px;
    right: 0px;

    .navbar__items {
      width: 100%;
      display: flex;
      .navbar__link {
        width: 100%;
        text-align: center;
        border-bottom: solid 3px white;
      }
    }
  }

  .navbar__barra-visible {
    width: 100% !important;
    background-color: transparent;
    display: flex;
    height: 100%;
  }

  .navbar__barra {
    background-color: white;
    padding: 25px;
    border-radius: 50%;
    box-shadow: 0px 5px 20px 10px black;
    position: absolute;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 100;
    .navbar__icon {
      font-size: 30px !important;
      color: black !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover .navbar__icon {
      color: white !important;
    }
    &:hover {
      background-color: $colorMenu;
    }
   
  }
}
// entre 701 y 849
@media screen and (min-width: 701px) and (max-width: 849px) {
  .header {
    max-width: 100%;
  }
  .navbar__barra {
    display: none;
  }
  .header__contenedor-logo {
    display: none;
  }
  .header__contenedor-perfil {
    display: none !important;
  }
  // ***********************
}

// entre 850 y 1024
@media screen and (min-width: 850px) and (max-width: 1024px) {
  .header {
    max-width: 100%;
  }
  .navbar__barra {
    display: none;
  }
  .header__contenedor-logo {
    display: none;
  }
  .header__contenedor-perfil {
    display: none !important;
  }
  // ***********************
}
//  mayo a 1025
@media screen and (min-width: 1025px) {
  .navbar__barra {
    display: none;
  }
}
