// entre 0  y 700
@media screen and (min-width: 700px) {
  .main-banner {
    .banner-contenedor-paradax {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 177px);
      background-position:center 90%;

      &::after {
        width: 100%;
        height: 100%;
      }

      .descripcion-paradax {
        margin: 0;
        max-width: 480px;

        &-parrafo {
          margin: 1rem 0;
          color: black;
          font-weight: 500;
          line-height: 1.5rem;
        }

        &-accion {
          display: flex;
        }
      }
    }
  }
}
// entre 701 y 849
@media screen and (min-width: 701px) and (max-width: 849px) {
}

// entre 850 y 1024
@media screen and (min-width: 850px) and (max-width: 1024px) {
}
//  mayo a 1025
@media screen and (min-width: 1025px) {
}
