.main-cards {

    .cards-container {
        .card-container {
            .card {}
        }

        &-tec-basicas {
            display: flex;
            flex-direction: column;
            align-items: center;

            .content-subtitulo {
                width: 100%;
                display: flex;
                justify-content: space-around;

                .subtitulo-general {
                    font-style: normal;
                    font-size: 35px;
                    font-family: 'Sansita Swashed', cursive;
                    text-shadow: 2px 3px 9px black;
                }
            }

            .cards-cont {
                display: flex;
                justify-content: center;
                width: 80%;


                .card-cont {
                    margin: 20px;
                    perspective: 1000px;
                    perspective-origin: left center;
                    border-radius: 10px;

                    &:hover .--card {
                        transform: rotateY(180deg);
                    }

                    .--card {

                        width: 280px;
                        height: 330px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 10px;
                        position: relative;
                        transform-style: preserve-3d;
                        transition: all 2s;

                        .--card-cara {

                            position: relative;
                            position: absolute;
                            border-radius: 10px;
                            width: 280px;
                            height: 330px;

                            .--card-img {
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                                box-shadow: 0px 10px 10px black;
                            }

                            .card-parrafo {
                                position: absolute;
                                font-size: 25px;
                                font-weight: bold;
                                top: -10px;
                                width: 100%;
                                text-align: center;
                                color: white;
                                text-shadow: 2px 3px 3px black;
                            }


                        }


                        .--card-back {
                            color: black;
                            transform: rotateY(180deg);
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            display: flex;
                            align-items: space-around;

                            justify-content: center;

                            &-descripcion {
                               &-content-img  {
                                    border-radius: 50%;
                                    width: 150px;
                                    height: 150px;
                                    padding: 20px;
                                    background: white;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-top: 25px;
                                    box-shadow: 0px 0px 10px black;

                                    .__img {
                                        width: 90%;
                                        height: 90%;

                                    }
                                }

                                .__titulo {}
                            }
                        }

                        .card-back-html {
                            background-color: rgb(231, 103, 53);
                        }

                        .card-back-css {
                            background-color: rgb(125, 229, 255);

                        }

                        .card-back-js {
                            background-color: rgb(246, 255, 121);

                        }

                        .card-back-php {
                            background-color: rgb(95, 114, 223);

                        }
                    }

                    .card-html {
                        &-img {
                            background-color: rgb(233, 66, 0);
                        }

                    }

                    .card-css {
                        &-img {

                            background-color: rgb(0, 204, 255);
                        }

                    }

                    .card-js {
                        &-img {

                            background-color: rgb(238, 255, 0);
                        }

                    }

                    .card-php {
                        &-img {

                            background-color: rgb(47, 72, 214);
                        }

                    }
                }




            }
        }

        &-tec-framework {}

        &-estructura-proyecto {}
    }

}