.main-header {
    background-image:
        linear-gradient(to bottom,
            $colorMenu,
            $black);
    box-shadow: 5px 5px 8px hsl(0, 100, 0);
    width: 100%;

    .perfil {
        width: $sizeFhotoWhidth;
        height: $sizeFhotoHeight;
        border-radius: 5%;
        box-shadow: 0px 3px 4px $white;
        z-index: 20;
    }

    .header-contenedor {
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        padding-top: 18px;

        &-logo {

            .logoFis {
                background: url(../../images/fis.png) no-repeat center;
                background-size: cover;
                border: solid 2px black;
            }
        }

        &-titulo {
            display: flex;
            align-items: center;

            .header-titulo {
                margin: 0;
                font-weight: normal;
                margin-top: -15px;

                &-h1 {
                    display: block;
                    color: white;
                    text-decoration: none;
                    font-size: 55px;
                    font-family: 'Knewave', cursive;
                    text-shadow: 5px 5px 5px hsl(0, 0, 0);
                    transition: all 1s;
                }

                &-h1:hover {
                    transform: scale(1.1);
                    font-style: normal;
                }
            }
        }

        &-perfil {
            display: flex;

            .perfil--foto {
                .foto {
                    background: url(../../images/foto.jpg) no-repeat center;
                    background-size: cover;
                    border: solid 2px black;
                }
            }

            .perfil--redesSociales {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .icono {
                    margin-left: 20px;
                    color: white;
                    font-size: 25px;
                    line-height: 30px;
                    width: 30px;
                    height: 30px;
                }

                .icono:hover {
                    cursor: pointer;
                    transform: translateY(-3px) scale(1.3);
                    transition: all .6s;
                }

                .icon-facebook:hover {
                    color: #2f71ff;
                }

                .icon-whatsapp:hover {
                    color: #00bb2d;
                }

                .icon-gmail:hover {
                    color: #db4a39;
                }
            }
        }


    }


}