@import "./general/mixin";

.cards {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;;
}
.cards__cont-Gen {
  @include centrarX();
}
.cards__cont-Ind {
  @include ancho-largo(100%, auto);
  @include centrarXY-col();
}
.cards__titulo-cont {
  @include ancho-largo(100%, 10%);
  .cards__titulo {
    margin: 0;
    font-style: normal;
    font-size: 25px;
    color: white;
  }
}
.cards__card-cont {
  @include centrarXY-row();
  @include ancho-largo(100%, auto);
}
.card__cont-fron-back {
  // background-color: white;
  margin: 25px;
  perspective: 1000px;
  perspective-origin: left center;
  @include redondear-img(10px);

  &:hover .card__cont {
    transform: rotateY(180deg);
  }
}
.card__cont {
  @include redondear-img(10px);
  @include ancho-largo(250px, 300px);
  @include redondear-img(10px);
  position: relative;
  transition: all 1.4s;
  transform-style: preserve-3d;

  .card__front {
    @include ancho-largo(100%, 100%);
    @include redondear-img(10px);
    @include centrarXY-row();
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
}

.card__front-img {
  z-index: 5;
  width: 80%;
}
.--sombra-black {
  @include ancho-largo(175px, 40px);
  z-index: 1;
  bottom: 35px;
  background: radial-gradient(black 15%, rgba(255, 255, 255, 0.034) 55%);
  box-shadow: 0px 7px 12px 5px black;
}

.card__back-cont {
  box-shadow: 0px 0px 7px 5px white;
  @include redondear-img(10px);
  position: absolute;
  top: 0px;
  @include ancho-largo(100%, 100%);
  @include centrarXY-row();
  transform: rotateY(180deg);
}
.card__back {
  @include ancho-largo(100%, 100%);
  @include redondear-img(10px);
  @include centrarXY-col();
}
.card__img-cont {
  @include centrarXY-col();
  position: relative;
  margin-top: 25px;
}
.card__img {
  width: 35%;
  @include redondear-img(15px);
  z-index: 5;
}
.card__sombra {
  display: block;
  position: absolute;
  border-radius: 50%;
  height: 25px;
}

.--sombra-white {
  width: 50%;
  bottom: -17px;
  z-index: 1;
  background: radial-gradient(black 5%, white 60%);
  box-shadow: 1px 5px 10px white;
}
.card__body-cont {
  margin-top: 25px;
  @include ancho-largo(100%, 100%);
  padding: 5px 0;
}
.card__body-titulo {
  .card__titulo-h3 {
    text-align: center;
    margin: 0;
  }
}
.card__body-desc {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  
}
.card__desc-list{
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.--card-back-html {
  @include cardBack-color(rgba(255, 166, 0, 0.4));
}
.--card-back-css {
  @include cardBack-color(rgba(0, 238, 255, 0.4));
}
.--card-back-js {
  @include cardBack-color(rgba(229, 255, 0, 0.4));
}
.--card-back-php {
  @include cardBack-color(rgba(0, 47, 255, 0.4));
}
.--card-back-react {
  @include cardBack-color(rgba(255, 255, 255, 0.4));
}
.--card-back-angular {
  @include cardBack-color(rgba(214, 27, 27, 0.4));
}
.--card-back-bootstrap {
  @include cardBack-color(rgba(153, 0, 255, 0.4));
}
.--card-back-wordpress {
  @include cardBack-color(rgba(0, 162, 255, 0.4));
}
.--card-back-bem {
  @include cardBack-color(rgba(15, 53, 49, 0.4));
}
.--card-back-github {
  @include cardBack-color(rgba(124, 47, 37, 0.8));
}

.--card-cara-html {
  @include cardFront-color(rgb(233, 66, 0));
}
.--card-cara-css {
  @include cardFront-color(rgb(0, 204, 255));
}
.--card-cara-js {
  @include cardFront-color(rgb(238, 255, 0));
}
.--card-cara-php {
  @include cardFront-color(rgb(47, 72, 214));
}
.--card-cara-react {
  @include cardFront-color(rgb(255, 255, 255));
}
.--card-cara-angular {
  @include cardFront-color(rgb(214, 27, 27));
}
.--card-cara-bootstrap {
  @include cardFront-color(rgb(144, 35, 218));
}
.--card-cara-wordpress {
  @include cardFront-color(rgb(0, 162, 255));
}
.--card-cara-bem {
  @include cardFront-color(rgb(15, 53, 49));
}
.--card-cara-github {
  @include cardFront-color(rgb(192, 47, 28));
}
