.contacto {
    color: white;
    // border: solid 2px red;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.contacto__cont {
    margin: 50px 0;
    background-color: $colorMenu;
    box-shadow: 0px 0px 15px 10px white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    &-h1 {
        .contacto__h1-texto {
            color: white;
        }
    }
    &-parrafo {
        .contacto__parrafo-texto {
        }
    }
}

.contacto__form{
    margin: 0 15px;
}

.contacto__form-item{
    margin: 15px 0;
}
.contacto__form-data{
    display: inline-block;
    margin: 5px 0;
    text-align: start;
    width: 40%;
}
.contacto__form-input{
    width: 60%;
    height: 30px;
    font-size: 18px;
    border: 0px;
    padding: 0px;
    border-radius: 5px;
    &:focus{
        // border: none;
        border-style: none;
    }
 
    
}
.contacto__form-textArea{
    width: 100%;
}