
// entre 0  y 700
@media screen and  (max-width: 700px) {
  .bienvenido__cont-Ind {
    width: 90% !important;
  }

 
}
// entre 701 y 849
@media screen and (min-width: 701px) and (max-width: 849px) {
  .bienvenido__cont-Ind {
    width: 45% !important;
  }
 
 
}

// entre 850 y 1024
@media screen and (min-width: 850px) and (max-width: 1024px) {

}
//  mayo a 1025
@media screen and (min-width: 1025px) {
  .bienvenido__cont-Ind{
    width: 29% !important;
    margin: 0.8% 1.5% !important;
    
  }
 
}
