
.formacion{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.formacion__titulo {
  margin: 30px 0 20px 0;
}
.formacion__titulo-texto {
  background: linear-gradient(black, $colorMenu);
  color: white;
  font-size: 25px;
}


.formacion__contenedor-Gen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.formacion__contenedor-Ind {
  position: relative;
  margin: 25px 20px;
  width: $sizeWidthFormacion;
  height: $sizeHeightFormacion;
}
.formacion__contenedor-body {
  width: $sizeWidthFormacion;
  height: $sizeHeightFormacion;
  background: radial-gradient($colorMenu, white, black, $colorMenu, black, black);
  overflow: hidden;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px white;
  padding: 15px 20px;
}

.formacion__body {
  &-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.formacion__body-subTitulo {
  border-bottom: solid 4px $colorMenu;
  display: flex;

  &-texto {
    width: 120px;
    text-align: center;
    text-shadow: 0px 2px 10px black;
    box-shadow: 0px 0px 10px 5px white;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0;
    padding: 10px;
    transform: translateX(0%);
    background: linear-gradient(black, $colorMenu);
    transition: all ease-in-out 0.7s;
  }
}
.formacion__body-descripcion {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transform: scale(1);
  transition: all ease-in-out 0.7s;
  &-item {
    color: black;
    margin: 5px;
    background-color: white;
    border-radius: 8px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    .item-titulo {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
      margin: 5px;
    }
    .item-desc {
      margin: 3px;
      font-size: 15px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    }
  }
}

.informacion__body-img {
  background: url(../../images/cieloeterno.gif);
  box-shadow: 0px 0px 13px 10px white;
  width: $sizeHeightFormacion * 2 - 5;
  height: $sizeHeightFormacion * 2 - 5;
  position: relative;
  position: absolute;
  top: 4px;
  left: -100%;
  border-radius: 50%;
  transform: scale(0.001);
  opacity: 0;
  transition: all ease-in-out 0.7s;
  .informacion__front {
    position: absolute;
    top: 15%;
    right: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .informacion__img {
      border-radius: 10px;
      width: 190px;
      z-index: 10;
    }
    .informacion__img-sombra {
      width: 130px;
      height: 20px;
      background: radial-gradient(black, rgb(0, 26, 255));
      box-shadow: 0px 3px 10px 10px rgb(0, 26, 255);
      border-radius: 50%;
      z-index: 0;
    }
  }
}
.formacion__contenedor-body:hover .informacion__body-img {
  transform: scale(1);
  opacity: 1;
}
.formacion__contenedor-body:hover .formacion__body-subTitulo-texto {
  background: url(../../images/cieloeterno.gif);
  transform: translateX(170%);
}
.formacion__contenedor-body:hover .formacion__body-descripcion {
  transform: scale(0.01);
}
