
body {
  background: url("../../../../public/images/cieloeterno.gif");
}

// TITULOS EN GENERAL DE H1
.titulo-cont-h1 {
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 3px $colorMenu;
  margin: 30px 0 20px 0;
}

.titulo-h1 {
  text-align: center;
  padding: 5px 10px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 0px -3px 10px 5px;
  background: linear-gradient(black, $colorMenu);
  color: white;
}
//   --------------------------------------------
// MARGEN PRINCIPAL DE LADOS

    
