

$colorMenu : hsl(210,100,50);
$colorMenu1 : rgb(0, 89, 179);
$white : white;
$black: black;
$sizeFhotoWhidth : 130px;
$sizeFhotoHeight : 130px;
$sizeWidthFormacion : 365px;
$sizeHeightFormacion : 365px;